@mixin button{
	color:white;
	font-size:12px;
	padding:8px 8px;
	text-transform:uppercase;
}

@mixin banner{
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	position: relative;
	box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2)	
}

@mixin panel ($r,$l){
	background: rgba(1, 202, 72, 0.9);
	position:absolute;
	bottom:0px;
	right:$r;
	left:$l;
	width: 90%;
	min-height: 100px;
	h1{
		font-size: 26px;
	}
}

@mixin subheader{

	h2.text-center{
		@include adjust-font-size-to( 14px );
		font-weight: 500;
		border: none;
		padding: 0px;
		font-size: 36px;
		margin: 0px;
		padding-bottom: 10px;
	}
	.sub-title{
		color:grey;
		margin-bottom:40px;
	}
}



a {color: $green;text-decoration: none;}
img{max-height:100%;max-width:100%;}
html,body {height:100%;}

hr{margin:0px;width:auto;border: 1px solid #E8EAEB;}

h1,h2,h3,h4{font-weight:500;}


.logo{
	display:none;
}
.text-center{text-align:center;}

.row{max-width:960px;}

.widget a{font-weight:normal;}

.row.mobile{display:none;}

.row.desktop{display:block;}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    background:none;
    /*fix for FF unable to apply focus style bug */
    border: none;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $green;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $green;
}
.range{
	label{
		padding-left:10px;
		font-size: 12px;
		text-align: center;
	}
}
/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

header{
	min-height: 50px;
	width: 100%;
}

.menu-main-nav-container{
	padding-top:20px;
	min-height:70px;
	ul{
		list-style:none;
		li{
			float: left;
			width:17%;
			text-align:center;
			padding-top: 10px;
			a{
				text-transform: uppercase;
				color: #808080;
				&:hover{
					color: $green;
				}
			}
		}
		li.menu-item-159, .menu-item-40,.menu-item-14{
			width: 30%;
			padding-top: 0px;
		}
	}

}

.cont{width:100%;height:50px;}

.tsf_top{
	padding: 10px 0px 0px 10px;
	width: 350px;
	float: right;

	a{
		i{
			font-size: 20px;
			color: #C0C2C2;
			padding-left:5px;
			padding-right:5px;
		}
		&:hover{
			i{
				color: $green;
			}
		}
	}
}
.i{
	font-size: 20px;
	color: #C0C2C2;
	padding-left:5px;
	padding-right:5px;
}
.btn_orange{background:$button-orange;@include button;}
.btn_green{background:$green;@include button;}

.main-title{
	font-size: 1em;
	color: #808080;
	font-style: italic;
}

#banner{max-width: 100%;}

.right{
	background-image: url(../wpjobboard/images/interview.jpg);
	@include banner;
	.panel{
		padding:10px;
		@include panel(auto,0);
			a{
				background: $button-orange;
				padding: 10px;
				color: white;
			}
			h1{
				font-weight: 500;
				text-align: left;
				color: white;
			}
			.button{
				display: inline-block;
			}
	}
}

.left{
	background-image: url(../wpjobboard/images/candidate.jpg);
	@include banner;

	.panel{
		@include panel(0,auto);
		padding:10px;
		text-align: right;

			a{
				background: #FFF;
				padding: 10px;
				color: black;
			}
			h1{
				font-weight: 500;
				text-align: right;
				color: white;
			}
			.button{
				display: inline-block;
			}

	}

}

.btn{border-radius:0px!important;}

#srch{
	@include subheader;
	background:#ECF0F1;
	padding:20px;
	input[type="text"]{
		width: 100%;
	}
	span.customSelect{
		width: 100%;
	}
	.btn{
		width: 100px;
		margin: 15px auto;
		display: block;
	}
}

#testmonials{
	max-width:100%;
	min-height: 400px;
	@include subheader;
	text-align: center;
	padding:20px;

	.message{
		p{
			font-size: 20px;
			font-style: italic;
			color: #808080;
			span{
				font-size: 18px;
			}
		}
	}

}

.full_testimonial{
	display:none;
	position: absolute;
	background: #ECF0F1;
	z-index: 999;
	width: 100%;
	padding: 20px;
	box-shadow: 0px 2px 14px -2px #000;
	img.cl_logo{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    max-height: 100px;
	    height: auto;
	}
}

#discovered{
	.row{
		width: 55%;
		margin:0 auto;
	}
	padding:20px;
	@include subheader;	
	background:#ECF0F1;
	.columns img{
		margin-bottom: 40px;
		max-height: 80px;
	}
	a{
		img{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.dis_img{
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */;
		filter: gray;
		-webkit-filter: grayscale(100%);
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		&:hover{
			-webkit-filter: none;
			-moz-filter: none;
			-ms-filter: none;
			-o-filter: none;
			filter: none;
		}
}
.widget_recent_entries{
	max-width:100%;
	text-align:center;
	img{
		max-height: 170px;
		display: block;
		margin: 0 auto;
	}
}
#featured_themes{
	padding:0px;
	@include subheader;
	section{
		padding:20px;
	}
	.widget_wpjb-featured-jobs{
		margin: 0 auto;
		position: relative;
	}
	li{
		list-style:none;
	}
	.widget_wpjb-featured-jobs li a {
		border: 1px solid #E3E3E3;
		border-radius: 0px;
		margin: 0px 5px 0px 5px;
		padding: 0px;

		.featured_logo{
			height: 110px;
			text-align: center;
			background: #FAFAFA;
			border-bottom: 1px solid #E3E3E3;
			display: table;
			width: 100%;
			
			.chld{
				display: table-cell;
				vertical-align: middle;
			}
			img{
				max-height: 100px;
				max-width: 100%;
				width: auto;
				margin: 0 auto;
				padding: 10px;
			}
		}

		.featured_content{
			padding:20px;
			i{
				color:$green;
			}
		}

		.featured_extra{
			min-height: 47px;
			border-top: 1px solid #E3E3E3;
			text-align: center;
			i{
				margin-right:10px;
			}
			.location{
				background-color: #F0F0F0;
				padding:10px;
			}
			.salary{
				background: #FAFAFA;
				height: 100%;
				padding:10px;
			}
		}

		.job-title{
			font-size: 14px;
			color: #565656;
		}

		p{
			margin: 0px;
			color: #929191;
		}
	}


	.widget_recent_entries{
		background:#ECF0F1;
		width:100%;
		margin:0px;

		ul li{

		}
	}
}


.close{position: absolute;right: 0px;top: 0px;}

#help{
	max-width:100%;
	@include subheader;

	i{
		font-size:40px;
	}

	div{
		text-align: center;
		img{
		}
	}
}

footer#foot{
	position:relative;
	width:100%;
	background:#343434;
	clear:both;

	.latest-tweets{
		a{
			color:$green;
		}
	}
	#footer_wrapper{
		max-width: 90%;

		h2{
			color: white;
		}
		ul{
			padding:0px;
			list-style: none;
		}
		#wpjb-widget-alerts-2{
			label{
				display: block;
				color:#868686;
			}
			input{
				margin:10px 0px 10px 0px;
				width: 100%;
			}
		}
	}
	.columns{
		min-height: 355px;
	}
	.columns:nth-child(2), .columns:nth-child(3), .columns:nth-child(4) {
	border-left: 1px solid #414141;
	}
	h3{
		color: white;
	}
	p{
		color:#868686;
	}
	a{
		color: #868686;
		text-transform: uppercase;
		&:hover{
			color: $green;
		}
	}
	i{
		font-size: 20px;
		padding:10px;
	}

	.widget{	
		input{
			border-radius:0px!important;
		}
	}

}

.menu-footer-menu-container{line-height:3em;}

#common_banner{
	background:url(../wpjobboard/images/city.jpg);
	background-repeat:no-repeat;
	background-position:0 -10%;
	max-width:100%;
	padding-top:80px;
	background-size:cover;
	input[submit]{

	}
	input, .customSelect{
		width: 100%;
	}
	.search_wrapper{
		background: rgba(1, 202, 72, 0.9);
		min-height: 120px;
		padding: 20px;
	}
	.btn{
		width: 100px;
		margin: 15px auto 0px auto;
		display: block;
		background:$button-orange;
	}
}

.widget_wpjb-widget-alerts{
	background: #1A7365 url(../wpjobboard/images/mail_svg.svg)!important;
	color: #FFF;
	min-height: 203px!important;
	height:auto!important;
	background-repeat:no-repeat!important;
	background-position: center!important;
	background-size:50%!important;
	a{
		background: $button-orange;
	}
	form{
		padding:10px;
	}
}
.wpjb-widget-smart-alert{
	text-align: center;
	font-size: 2em;
	.wpjb-subscribe{
		width: 80%!important;
		margin: 25px auto 0px;
		display: block!important;
	}
}

#apply_scroll{display:block;text-align:center;}

.search-results{
	#side .widget.widget_wpjb-search{
		height: 35px;
		display: block;
	}
}
#payment_method{width:70%!important;}

#side{
margin-top: 20px;
	.widget.widget_wpjb-search{
		#adv{
			padding:0px 6px;
		}
		height:35px;
		display: none;
	}

	.widget{
		height:35px;
		overflow:hidden;
		margin:0px;
		background: #EDFCF2;
		.wpjb-submit{
			background: #FFA500 !important;
			width: 110px;
			margin: 0 auto!important;
		}
		.expnd{
			display: block;
			background: $green;
			color: white;
			padding:6px;
			border:none;
			font-weight: normal;
			position:relative;
			.exp{
				position:absolute;
				right: 5px;
			}
		}
		.wpjb-label{
			position:relative;
			left: 0px;
			line-height: 1em;
			width: 40%;
		}
		.wpjb-field{
			width: 60%;
			input{
				width: 100%;
			}
		}

		fieldset{
			border: none;
		}
		h2{
			border-bottom:none!important;
			background:$green;
			padding: 10px;
			margin: 0px;
			a{
				color: white;
			}
		}
	}
}

.wpjr-page-resume{
	.wpjb-info{
		tr{
			text-align:left;
			width: 100%;
			td{
				 &:first-child{
				 	width: 20%;
				 }
			}
		}
	} 
} 


.wpjb-field{
	position: relative;
}
#content_wrapper{
	max-width:2000px;
}
#content_wrapper.home{
	.row{
		.row{
			max-width: 960px!important;
			margin: 0 auto;
			min-height: 200px;
		}
	}
}
.salary_bracket{display:none;}
#recent_post{
	img{
		display: block;
		margin:0 auto;
	}
}
.company_logo{
	display:table;
	height:70px;
	.mid{
		display: table-cell;
		vertical-align: middle;
		max-width: 110px;
	}
	img{
		max-height: 100%;
		max-width: 100%;
	}
}
.clear{
	clear:both;
}

#job-info{
	min-height:120px;
	.columns{
		display: table;
		min-height: 120px;
		.extra{
			display: table-cell;
			vertical-align: middle;
			h1{
				margin: 7px 7px 7px 0px;
				line-height: 1.2em;
			}
		}
		.entry-exerpt{
			font-style: italic;
			color: grey;
		}
	}
}
#wpjb_widget_alerts{
	input[type="submit"]{
		background:$button-orange;
	}
}
.extra.comp{
	h1{float: left;}
	a{
		display: block;
		text-align: center;
	}
	form{
		display: none;
		float: left;
		ul{
			list-style: none;
			padding:0px;
			margin: 0px;
			li:first-child{
				display: none;
			}
			li{
				input{
					width: 100%;
				}
				input[type="submit"]{
					display: block;
					margin: 2px auto;
				}
			}
		}
	}
	.entry-exerpt{
		clear: both;
	}
}
.comp_fl{
	a{
		float: none;
	}
	display:table-cell;
	vertical-align:middle;
}
#employer-packages{
	padding:20px 0px;
}

.tabs{

	.packages, .single_sus, .sus{
		background: #F9FAFA;
		border-right:1px solid #E5E5E5;
		border-top:1px solid #E5E5E5;
		border-bottom:1px solid #E5E5E5;
		text-align: center;
		img{
			width: 50px;
		}

		p{
			color: #929292;
		}

		&:first-child{
			border-left:1px solid #E5E5E5;
			border-top:1px solid #E5E5E5;
		}
	}

	.active{
		background: white;
		p{
			color: $button-orange;
		}
	}
}


.intro{
	width: 72%;
	text-align: center;
	margin: 25px auto;
}

.all_packages{
	max-width:960px!important;
	margin:20px auto!important;
	.panel{
		background:#F9FAFA;
		width: 100%;
		margin:10px auto;
		min-height: 490px;
		text-align: center;
		border:1px solid #E5E5E5;
		padding: 10px;

		.price{
			font-size: 30px;
			font-weight: 200;
		}

		hr{
			margin-top:-13px;
		}
		.popular{
			margin: -10px;
			height: 30px;
			background:white;
			border-bottom:1px solid #E5E5E5;
			p{
				color: $button-orange;
				padding:5px;
				margin:0px;

			}
		}

		p{
			font-size: 12px;
		}
	}
	.panel.gold, .panel.bronze{
		margin-top:40px;
		min-height: 480px;
		
	}
	.details{
		text-align: left;
		margin-top: 30px;
		.underline{
			text-decoration: line-through;
		}
	}
}
.package-select{
	select{
		width: 70%!important;
	}
}

#sng{
	display:block;
}

#susc,#pk {
	display:none;
}
blockquote {
	font-family: sans-serif;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $green;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: $green;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0em;
  vertical-align: -0.4em;
 position: absolute;
right: 10px;
bottom: 0px;
}
blockquote p {
  display: inline;
}
.package-select{
	.customSelectInner{
		text-align: left;
	}
}
.quotes{
		background: url(../wpjobboard/images/city.jpg);
		height: 300px;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
			.qt{
				position:absolute;
				color: white;
				display: none;
				color: white;
				font-size:25px;
				line-height: 1.4em;
				width: 250px;
				text-shadow:2px 2px 2px #000;
				background-color: rgba(0, 0, 0, 0.7);
				padding: 10px;
				margin: 0px;
				span{
					font-size:20px;
					color: $green;
				}

			}
			.one{bottom:0px;left:140px;}
			.two{bottom:20px;left:50px;}
			.three{top:20px;right:30px;}
			.four{bottom:12px;right:40px;}
			.five{left:40px;bottom:10px;}
}

.solutions{
	background: #ECF0F1;
	max-width:100%;
	height:auto;
	text-align:center;
	.wrap{
		max-width: 960px;
		margin:0 auto;
	}
	a img{
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */;
		filter: gray;
		-webkit-filter: grayscale(100%);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		&:hover{
			-webkit-filter: none;
			-moz-filter: none;
			-ms-filter: none;
			-o-filter: none;
			filter: none;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
	}
	.columns{
		height: 100px;
		padding-top: 10px;
		img{
			padding-bottom: 20px;
		}
	}
}

a.active{
	.arrow_box{
		display: block;
	}
	img{
		-webkit-filter: none;
		-moz-filter: none;
		-ms-filter: none;
		-o-filter: none;
		filter: none;
	}
}

.show{
	display:block;
	h2{
		text-align: center;
	}
}

.hide{
	display:none;
}

.arrow_box {
	position: relative;
	background: #ffffff;
	display:none;
}
.arrow_box:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}

.sign_in{

}
.sign_dropdown{
	position:absolute;
	list-style:none;
	height:0px;
	overflow:hidden;
	margin: 0px;
	padding: 0px;
	background: $green;
	width: 120px;
	z-index: 999;
	li{
		margin: 12px 5px;
		a{color: white;&:hover{color:black;}}
	}
}

#recruiters{
	#pks{
		display: block;
		background:#ECF0F1;
		@include subheader;
		padding:20px;
	}
}

.content{
	max-width:960px;
	margin:0 auto;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}

.emp_bannerblock{
	position:absolute;
	color:white;
	bottom:0px;
	width:100%;
	padding:10px 15px 5px 15px;
	background: rgba(1, 202, 72, 0.9);
	p.find{
		margin: 0px 0px 5px 0px;
		font-size: 18px;
	}
	.btn{
		display: inline-block;
		background: $button-orange;
	}
}

.para-1{
	text-align:center;
	div{
		width: 20%!important;
		p{
			color: black;
		}
		i{
			background:$green;
		}
		a{
			&:hover{
				cursor: default;
			}
		}
	}
}

.wpjr-page-my-applications{
	th{
		text-align: left;
	}
}
.list-icon-items .pulse {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: none;
	border: 1px solid #EE6557;
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 275ms;
	-o-transition-duration: 275ms;
	-webkit-transition-duration: 275ms;
	transition-duration: 275ms;
	-moz-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
	-o-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
	-webkit-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
	transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
	border: 1px solid #D1D1D1;
}
.list-icon-items a:hover .pulse, .list-icon-items a:focus .pulse, .list-icon-items a:active .pulse {
  opacity: 1;
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -moz-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -o-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}
.circ{
	font-size: 40px;
	word-spacing: 1px;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 105px;
	width: 100px;
	height: 100px;
	max-width: 100%;
	text-align: center;
	color: #FFF;
	background-color: #949494;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.no-padding{padding:0px!important;margin:0px!important;}

.text-left{
	text-align:left!important;
}

#contactus{
	div{
		  text-align: center;
		  p{
		  	color: grey;
		  }
	}
}

.reviews{
	max-width:960px;
	margin:0 auto;
	min-height:200px;
	a{
		color:black;
		&:hover{
			color: black;
		}
	}

	img{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    max-height:100px;
	}
}

.main-testimonials{
	padding:20px!important;
	max-width:960px;
	margin:0 auto;
	.featured_extra{
		height: auto!important;
	}

	a{
		display: block;

	}
	li{
		margin-bottom: 20px;
	}
}
.clients_imgs{
	transition: all 0.5s ease;
	img{
		margin-bottom:20px!important;
	}
}

.filters{
	height: 40px;
	width: 135px;
}

.cl_logo{
	height:100px;
}
.more_clients{
	max-width:90%;
	margin:0 auto;
	float:none;
	.clients_imgs{
		padding:20px 0px;
		min-height: 400px;
		img {

			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			filter: gray;
			-webkit-filter: grayscale(100%);
			&:last-child{
			float:left;
			}

			&:hover{
				-webkit-filter: none;
				-moz-filter: none;
				-ms-filter: none;
				-o-filter: none;
				filter: none;
			}
		}

	}
}

.wpjb-form-slider-width{
	width:100%;
}
.wpcf7-form{
	input.wpcf7-email{
		width: 100%;
	}
}
.one-submit{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: $green;
	color: #FFF;
	width: 30%;
	text-transform: uppercase;
	font-weight: 700;
}

.error{
	p{
		color:red;
	}
}
.success{
	img{
		width: 20px;
		margin: 0 auto;
		display: block;
	}
	p{
		color:$green;
	}
}

.create-ad{
	.widget_wpjb-search{
		display: none;
	}
}
.daq-multiselect-input{
	border: 1px solid #FFF;
}
.daq-multiselect-options{
	overflow:auto!important;
	display:none;
	background:white;
	position:absolute;
	z-index:110;
	height:200px;
	overflow: hidden;
	border:1px solid #EAEBEB;

	label{
		display: block;
	}
	input{
		width: 10%!important;
	}
}
.daq-multiselect{
		position: absolute!important;
		top: 0px;
		pointer-events: none;
		background:none!important;
	
}

.wpjb-info tr{
	background: none!important;
  	width: 25%;
  	float: left;
  	text-align: center;
  	height: 80px;
  	td{
		padding: 15px 3.4%;
		position: relative;
		border-right: 1px solid #E3E3E3;
		&:first-child{
			width: 30%;
		}
  	}

  	&:last-child{
  		td{
  			border-right: none;
  		}
  		
  	}
}

.company-social{
	display:block;
	margin:10px auto;
	text-align: center;
	i{
		font-size: 2em;
		padding:0px 5px;
	}
	i.fi-social-facebook{
		color: #C0C2C2;
		&:hover{
			color:#3A5795;
		}
	}
	i.fi-social-twitter{
		color: #C0C2C2;
		&:hover{
			color: #55ACEE;
		}
	}
	i.fi-social-linkedin{
		color: #C0C2C2;
		&:hover{
			color: #0077B5;
		}
	}
}
.wpjb-company-list{
	padding:0px;
	li{
		
		a{
			background:$green;
			color: white;
			padding:10px 5px;
			display: block;
		}
	}
}

.wpjb-page-company{
	.entry-header{
		img{
			max-width: 100%;
		}
	}
	.wpjb-info{
		tr{
			height: 80px;
		}
	}
	.profile_logo{
		display: block;
	}
}
.job-link{
	display:none;
}

.wpjb-element-name-dropbox_link, .wpjb-element-name-googledrive_link{
	display:none;
}
.wpjb-element-name-file{
	.wpjb-field{
		width:100%;
		#wpjb-upload-file{
			width:100%;
		}
		#wpjb-upload-limit-file{
				display: block;
				text-align: center;		}
	}
	width:50%;
	float:left;
}
.wpjb-page-job-applications{
	.wpjb-table{
		thead{
			tr th{
				text-align: center;
			}
		}
		td{
			text-align: center;
		}
	}
}
.wpjb-page-job-application{
	tr{
		width: 100%;
		border:none;
		border-bottom:1px solid #E3E3E3;
		text-align: left;
		td{
			border:none;
		}
	}
}
.dp_gd{
	#gd,#dp{
		float:left;
		width: 50px;
		margin: 0px 10px;
		border-radius: 10px;
		padding: 5px;
		height: 50px;
	}
	padding:6px 5px;
	margin:5px 0px;
	a{
		height: 40px;
		display: block;
	}
	#dp{
		border: 1px solid #4C96D1;
	}
	#gd{
		border: 1px solid #3DB39E;
	}
}
#wpjb-scroll{
	.wpjb-element-name-firstname, .wpjb-element-name-lastname, .wpjb-element-name-user_email{
		display:none;
	}
	#wjp_register{
		fieldset{
			margin: 0px 0px;
			padding:0px 0px;
		}
	}

}
.dp_msg,.gd_msg{
	color:$green;
	text-align:center;
	display: block;
}

#wpjb-payment{
	tr{
		width: 100%;
		border-bottom:none;
	}
}
.left-off-canvas-toggle{display: none;}
@media only screen and (max-width: 64em) {
	#breadcrumbs{
		padding:0px;
		text-align: center;
	}
	#job-info{
		min-height:120px;
		text-align: center;
		.columns{
			display: block;
			min-height: 50px;
			.extra{
				display: block;
				margin: 10px 0px;
				h1{
					float: none;
					margin: 7px 10px;
				}
			}
		}
		.company-social{
			width: 100%;
			margin: 10px 0px;
		}
	}
	.profile_logo{
		display: block!important;
		height: 120px!important;
	}

	.company_logo{
		display:block;
		height:120px;
		.mid{
			display: block;
			height:120px;
			margin: 0 auto;
		}
	}

	.comp_fl{
		display: block;
		form{float:none!important;}
	}

	#common_banner{
		background:$green;
		padding: 10px 0px;
		.search_wrapper{
			padding:5px 0px;
			input{
				margin-bottom: 5px!important;
			}
		}
	}
	.wpjb-info{
		tr{
			height:20px!important;
			width: 100%;
			border-bottom: none;
			td{
				border-right:none;
				padding:5px;
			}
		}
	}

}

@media only screen and (max-width: 40em) { 
	.logo{
	display:block;
}
	.tsf_top{
		float: none;
	}
	.left-off-canvas-toggle{
		display: block;
		font-size: 47px;
		float: left;
		color: #808080;
		padding: 0px 5px;
	}
	.left-off-canvas-toggle[aria-expanded="true"]{
		color: $green;
	}
	.solutions .columns{
		height: auto;
	}
	input[type=range]{
		width:100%;
	}
	.tabs_wrapper{
		a{
			height: 120px;
		}
	}
	.package-select{
	select{
		width: 100%!important;
	}
}
.solutions .columns img{padding-bottom:23px}
.wpjb-element-name-fil{width:40%;}
.para-1{
	div{
		width: 50%!important;
	}
	div:last-child{
		float: none!important;
		width: 100%!important;
	}
}
	footer#foot{
		.columns{
			min-height: 100px;
			border:none!important;
			text-align: center;
		}
		#wpjb-widget-alerts-2,#latest_tweets_widget-2{display:none;color:#868686}
	}
	.wpjb-over-job-table{
		.wpjb-breadcrumb{
			display: none;
		}
	}
	header{
		min-height: 50px;
		width: 100%;
		margin: 0px;
	}
	#side{
		display: none;
	}

	.mobile{
		display:block;
		margin:0px;

			h2{
				display: block;
				padding: 5px;
				color: #999;
				text-transform: uppercase;
				font-size: 0.66667rem;
				font-weight: bold;
				background: #444;
				border-top: 1px solid #5E5E5E;
				border-bottom: none;
				margin: 0;
			}
			ul{
				list-style: none;
				padding:0px;
				margin: 0px;
				li{
					a{
						color: rgba(255, 255, 255, 0.7);
						border-bottom: 1px solid #262626;
						display: block;
						padding: 10px;
						text-align:left!important;
						&:hover{
							background: none;
						}
					}
				}
			}
		
		#wpjb_widget_alerts{
			padding:10px;
			input[type="submit"]{
				background:$button-orange;
			}
		}
	}

	.fi-list-thumbnails{
		float: right;
		font-size: 40px;
		color: #808080;
	}
	.row.desktop{
		display:none;
	}

	.one-submit{
		width:80%;
	}

	.menu-main-nav-container{
		z-index: 9999;
		min-height: 0px;
		padding:0px;
		height: 0px;
		height: auto;
		ul{
			margin:0px;
			padding:10px;
			li::nth-child(3){
				display: none;
			}
			li{
				width: 100%!important;
				float: none;
			}			
		}
	}

	.wpjb-page-single,
	.wpjr-page-resume {
		.wpjb-info tr {
			background: none;
	        width: 100%;
	        float:left;
	        text-align: center;
	        border-top:1px solid #E3E3E3;
	        border-bottom:none;
	        td{
	        	border:none;
	        	padding:5px;
	        }
		}
	}

	#banner{
		height:90px;
		.left,.right{
			background:none;
			box-shadow: none;
			margin: 0px;
			padding:0px;
			height:90px;
			h1{
				text-align: center;
				font-size: 20px;
				display: none;
			}
			.panel{
				position:relative;
				width: 100%;
				padding:25px;
				min-height: 50px;
				text-align: center;
				height:100%;
			}
		}
	}

	#featured_themes{
		li{
			margin: 20px auto;
		}
	}

	#help{
		display:none;
	}

	.quotes{
		display: none;
	}
	.emp_bannerblock{
		position:relative;
	}

}

/*Related jobs tabs*/
.cd-tabs {
clear:both;
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 0px 10px;
  ul{
  	list-style: none;padding:0px;margin: 0px;
  	.wpjb-related-jobs{
	  	li{
	  		display: block;
	  	}
  	}
  }
  h3{
  	margin: 0px;
  }
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0));
  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #f8f7ee;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}
@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    z-index: 1;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs nav {
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
  }
}

.cd-tabs-navigation {
  width: 360px;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 60px;
  width: 100px;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #c3c2b9;
  padding-top: 34px;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
}
.cd-tabs-navigation a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 $button-orange;
  color: #29324e;
}
.cd-tabs-navigation a::before {
  /* icons */
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -10px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../img/vicons.svg");
  background-repeat: no-repeat;
}
.cd-tabs-navigation a[data-content='inbox']::before {
  background-position: 0 0;
}
.cd-tabs-navigation a[data-content='new']::before {
  background-position: -20px 0;
}
.cd-tabs-navigation a[data-content='gallery']::before {
  background-position: -40px 0;
}
.cd-tabs-navigation a[data-content='store']::before {
  background-position: -60px 0;
}
.cd-tabs-navigation a[data-content='settings']::before {
  background-position: -80px 0;
}
.cd-tabs-navigation a[data-content='trash']::before {
  background-position: -100px 0;
}
.cd-tabs-navigation a[data-content='inbox'].selected::before {
  background-position: 0 -20px;
}
.cd-tabs-navigation a[data-content='new'].selected::before {
  background-position: -20px -20px;
}
.cd-tabs-navigation a[data-content='gallery'].selected::before {
  background-position: -40px -20px;
}
.cd-tabs-navigation a[data-content='store'].selected::before {
  background-position: -60px -20px;
}
.cd-tabs-navigation a[data-content='settings'].selected::before {
  background-position: -80px -20px;
}
.cd-tabs-navigation a[data-content='trash'].selected::before {
  background-position: -100px -20px;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-navigation {
    /* move the nav to the left on medium sized devices */
    width: 80px;
    float: left;
  }
  .cd-tabs-navigation a {
    height: 80px;
    width: 80px;
    padding-top: 46px;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 2px 0 0 $button-orange;
  }
  .cd-tabs-navigation a::before {
    top: 22px;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-navigation {
    /* tabbed on top on big devices */
    width: auto;
    background-color: #f8f7ee;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  }
  .cd-tabs-navigation a {
    height: 60px;
    line-height: 60px;
    width: auto;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 0 2.8em 0 4.6em;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 0 2px 0 $button-orange;
  }
  .cd-tabs-navigation a::before {
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
    left: 38px;
  }
}

.cd-tabs-content {
  background: #ffffff;
}
.cd-tabs-content li {
  display: none;
  padding: 1.4em;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #8493bf;
  margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-content {
    min-height: 480px;
  }
  .cd-tabs-content li {
    padding: 2em 2em 2em 7em;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-content {
    min-height: 0;
  }
  .cd-tabs-content li {
    padding: 10px;	
  }
  .cd-tabs-content li p {
    font-size: 16px;
    font-size: 1rem;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


