/* ADMIN */
/* customizer colorscheme */
/* line 6, ../sass/admin.scss */
#customize-control-wpjobboard_theme_color_scheme .wpjb-colorscheme {
  width: 32px;
  height: 32px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin: 1em;
  line-height: 32px;
}
/* line 14, ../sass/admin.scss */
#customize-control-wpjobboard_theme_color_scheme .wpjb-colorscheme input {
  text-indent: 0;
  width: 32px;
  line-height: 32px;
  text-align: center;
}
/* line 20, ../sass/admin.scss */
#customize-control-wpjobboard_theme_color_scheme .wpjb-colorscheme .wpjb-colorscheme-text {
  display: none;
}
/* line 24, ../sass/admin.scss */
#customize-control-wpjobboard_theme_color_scheme .wpjb-colorscheme-green {
  background: #9ecf32;
}
/* line 27, ../sass/admin.scss */
#customize-control-wpjobboard_theme_color_scheme .wpjb-colorscheme-blue {
  background: #5cace2;
}
/* line 30, ../sass/admin.scss */
#customize-control-wpjobboard_theme_color_scheme .wpjb-colorscheme-mint {
  background: #3abd8f;
}
/* line 33, ../sass/admin.scss */
#customize-control-wpjobboard_theme_color_scheme .wpjb-colorscheme-red {
  background: #e74c3c;
}
